In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
df=pd.read_csv(r'/content/drive/MyDrive/Copy of Dataset .csv')
df.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229

In [ ]:
df.columns

Index(['Restaurant ID', 'Restaurant Name', 'Country Code', 'City', 'Address',
       'Locality', 'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Is delivering now', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes'],
      dtype='object')

In [ ]:
columns_to_drop = ['Restaurant ID', 'Restaurant Name', 'Country Code', 'Address',
                   'Locality', 'Locality Verbose', 'Longitude', 'Latitude',
                   'Currency', 'Switch to order menu', 'Rating color', 'Rating text']
df.drop(columns_to_drop, axis=1, inplace=True)
df.head()

,City,Cuisines,Average Cost for two,Has Table booking,Has Online delivery,Is delivering now,Price range,Aggregate rating,Votes
0,Makati City,"French, Japanese, Desserts",1100,Yes,No,No,3,4.8,314
1,Makati City,Japanese,1200,Yes,No,No,3,4.5,591
2,Mandaluyong City,"Seafood, Asian, Filipino, Indian",4000,Yes,No,No,4,4.4,270
3,Mandaluyong City,"Japanese, Sushi",1500,No,No,No,4,4.9,365
4,Mandaluyong City,"Japanese, Korean",1500,Yes,No,No,4,4.8,229

In [ ]:
df.drop_duplicates

<bound method DataFrame.drop_duplicates of                   City                          Cuisines  \
0          Makati City        French, Japanese, Desserts
1          Makati City                          Japanese
2     Mandaluyong City  Seafood, Asian, Filipino, Indian
3     Mandaluyong City                   Japanese, Sushi
4     Mandaluyong City                  Japanese, Korean
...                ...                               ...
9546         ��stanbul                           Turkish
9547         ��stanbul   World Cuisine, Patisserie, Cafe
9548         ��stanbul            Italian, World Cuisine
9549         ��stanbul                   Restaurant Cafe
9550         ��stanbul                              Cafe

      Average Cost for two Has Table booking Has Online delivery  \
0                     1100               Yes                  No
1                     1200               Yes                  No
2                     4000               Yes                  No
3                     1500                No                  No
4                     1500               Yes                  No
...                    ...               ...                 ...
9546                    80                No                  No
9547                   105                No                  No
9548                   170                No                  No
9549                   120                No                  No
9550                    55                No                  No

     Is delivering now  Price range  Aggregate rating  Votes
0                   No            3               4.8    314
1                   No            3               4.5    591
2                   No            4               4.4    270
3                   No            4               4.9    365
4                   No            4               4.8    229
...                ...          ...               ...    ...
9546                No            3               4.1    788
9547                No            3               4.2   1034
9548                No            4               3.7    661
9549                No            4               4.0    901
9550                No            2               4.0    591

[9551 rows x 9 columns]>

In [ ]:
df.head()

,City,Cuisines,Average Cost for two,Has Table booking,Has Online delivery,Is delivering now,Price range,Aggregate rating,Votes
0,Makati City,"French, Japanese, Desserts",1100,Yes,No,No,3,4.8,314
1,Makati City,Japanese,1200,Yes,No,No,3,4.5,591
2,Mandaluyong City,"Seafood, Asian, Filipino, Indian",4000,Yes,No,No,4,4.4,270
3,Mandaluyong City,"Japanese, Sushi",1500,No,No,No,4,4.9,365
4,Mandaluyong City,"Japanese, Korean",1500,Yes,No,No,4,4.8,229

In [ ]:
df.isnull().count()

City                    9551
Cuisines                9551
Average Cost for two    9551
Has Table booking       9551
Has Online delivery     9551
Is delivering now       9551
Price range             9551
Aggregate rating        9551
Votes                   9551
dtype: int64

In [ ]:
for col in ['Has Table booking','Has Online delivery','Is delivering now']:
  df[col] = df[col].map({'Yes': 1, 'No': 0})

In [ ]:
df['Main Cuisine'] = df['Cuisines'].astype(str).apply(lambda x: x.split(',')[0].strip())

In [ ]:
df.head()

,City,Cuisines,Average Cost for two,Has Table booking,Has Online delivery,Is delivering now,Price range,Aggregate rating,Votes,Main Cuisine
0,Makati City,"French, Japanese, Desserts",1100,1,0,0,3,4.8,314,French
1,Makati City,Japanese,1200,1,0,0,3,4.5,591,Japanese
2,Mandaluyong City,"Seafood, Asian, Filipino, Indian",4000,1,0,0,4,4.4,270,Seafood
3,Mandaluyong City,"Japanese, Sushi",1500,0,0,0,4,4.9,365,Japanese
4,Mandaluyong City,"Japanese, Korean",1500,1,0,0,4,4.8,229,Japanese

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score

In [ ]:
le_city=LabelEncoder()
le_cuisine=LabelEncoder()
df['city_encoded']=le_city.fit_transform(df['City'])
df['cuisine_encoded']=le_cuisine.fit_transform(df['Main Cuisine'])

In [ ]:
features = ['Average Cost for two', 'Price range', 'Votes',
            'Has Table booking', 'Has Online delivery', 'Is delivering now',
            'city_encoded', 'cuisine_encoded']

target = 'Aggregate rating'

x = df[features]
y = df[target]

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(x_train, y_train)

In [ ]:
y_pred = model.predict(x_test)

In [ ]:
print("Mean Squared Error:", mean_squared_error(y_test, y_pred))
print("R² Score:", r2_score(y_test, y_pred))

In [ ]:
importances = model.feature_importances_
plt.figure(figsize=(8,5))
plt.barh(features, importances)
plt.title("Feature Importance for Rating Prediction")
plt.xlabel("Importance")
plt.ylabel("Features")
plt.show()