In [60]:
import pandas as pd
df=pd.read_csv('/content/drive/MyDrive/Copy of Dataset .csv')

In [61]:
columns_to_drop = ['Restaurant ID', 'Country Code', 'Address',
                   'Locality', 'Locality Verbose', 'Longitude', 'Latitude',
                   'Currency', 'Switch to order menu', 'Rating color', 'Rating text','Average Cost for two','Has Table booking','Has Online delivery','Is delivering now','Votes']
df.drop(columns_to_drop, axis=1, inplace=True)

In [62]:
df.head()

,Restaurant Name,City,Cuisines,Price range,Aggregate rating
0,Le Petit Souffle,Makati City,"French, Japanese, Desserts",3,4.8
1,Izakaya Kikufuji,Makati City,Japanese,3,4.5
2,Heat - Edsa Shangri-La,Mandaluyong City,"Seafood, Asian, Filipino, Indian",4,4.4
3,Ooma,Mandaluyong City,"Japanese, Sushi",4,4.9
4,Sambo Kojin,Mandaluyong City,"Japanese, Korean",4,4.8

In [63]:
df.isnull().count()

Restaurant Name     9551
City                9551
Cuisines            9551
Price range         9551
Aggregate rating    9551
dtype: int64

In [64]:
df.drop_duplicates

<bound method DataFrame.drop_duplicates of                Restaurant Name              City  \
0             Le Petit Souffle       Makati City
1             Izakaya Kikufuji       Makati City
2       Heat - Edsa Shangri-La  Mandaluyong City
3                         Ooma  Mandaluyong City
4                  Sambo Kojin  Mandaluyong City
...                        ...               ...
9546               Naml۱ Gurme         ��stanbul
9547              Ceviz A��ac۱         ��stanbul
9548                     Huqqa         ��stanbul
9549               A���k Kahve         ��stanbul
9550  Walter's Coffee Roastery         ��stanbul

                              Cuisines  Price range  Aggregate rating
0           French, Japanese, Desserts            3               4.8
1                             Japanese            3               4.5
2     Seafood, Asian, Filipino, Indian            4               4.4
3                      Japanese, Sushi            4               4.9
4                     Japanese, Korean            4               4.8
...                                ...          ...               ...
9546                           Turkish            3               4.1
9547   World Cuisine, Patisserie, Cafe            3               4.2
9548            Italian, World Cuisine            4               3.7
9549                   Restaurant Cafe            4               4.0
9550                              Cafe            2               4.0

[9551 rows x 5 columns]>

In [65]:
df.dropna(inplace=True)

In [66]:

df['Combined'] = df['Cuisines'] + ' ' + df['City'] + ' Price' + df['Price range'].astype(str)

In [67]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [68]:
vectorizer = TfidfVectorizer(stop_words='english')
tfidf_matrix = vectorizer.fit_transform(df['Combined'])

In [69]:

cuisines = input("Enter preferred cuisines (comma-separated): ")  # Ex: "Italian, Chinese"
city = input("Enter city: ")
price = input("Enter price range (1 to 4): ")


cuisine_cleaned = ' '.join([c.strip() for c in cuisines.split(',')])  # "Italian Chinese"


user_pref = [f"{cuisine_cleaned} {city} Price{price}"]

Enter preferred cuisines (comma-separated): indian
Enter city: makai
Enter price range (1 to 4): 4

In [70]:

uservec = vectorizer.transform(user_pref)
similarity = cosine_similarity(uservec, tfidf_matrix)
topRestuarents = similarity[0].argsort()[::-1][:5]

In [71]:
print("Top Recommendations:")
# Print the top 5 results
for idx in top_indices:
    row = df.iloc[idx]
    print(f"{row['Restaurant Name']} | {row['Cuisines']} | {row['City']} | Rating: {row['Aggregate rating']}")

Top Recommendations:
The Metro Fast Food | Chinese | New Delhi | Rating: 2.6
Uncle Xpress | Chinese | New Delhi | Rating: 3.4
Chinese Chaat Corner | Chinese | New Delhi | Rating: 0.0
Hot & Tasty | Chinese | New Delhi | Rating: 0.0
Flirty Momo's | Chinese | New Delhi | Rating: 3.1